body {
    background: #2B2B2B;
    color: #EEEEEE;
    font-family: "Helvetica Neue";
}

.pane {
    background: #4B4B4B;
    margin: 10px;
    padding: 25px;
    border-radius: 4px;
}

.user-item {
    padding: 15px;
    margin: 5px;
    border-radius: 4px;
    background: #6B6B6B;
}

.message-item {
    padding: 15px;
    margin: 5px;
    border-radius: 4px;
    background: #EEEEEE;
    color: #4B4B4B;
}
